@font-face {
    font-family: 'squealer';
    src: url('squealer.embossed.ttf') format('truetype');
}

body {
    background-image: url("/img/yugioh_cards.jpg");
    background-size: 100% 100%;
    height: 100vh;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position-y: 312px;
}

header {
    position: fixed !important;
    width: 100% !important;
}

.card-search__title {
    font-family: squealer;
    font-size: 5em;
    padding-top: 10%;
}

@media (max-width: 1023px) and (min-width: 767px) 

{
    body {
        background-size: 100% 58% !important;
    }
}

@media (max-width: 766px) and (min-width: 320px) {
    body {
        background-size: 100% 43%;
        background-position-y: 369px;
    }
}