

<!DOCTYPE html>
<html>
<head>
    <title>YGO Card Finder</title>
</head>
<body>
    <h1>Enter the term you would like to search</h1>
    <form asp-action="GetCard" asp-controller="Home" method="post">
        <input type="text" name="search" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>

